[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

    # 以下，未使用関数

    # config.py
    def get_db_config

    # logger.py
    class GZipRotator
    def log_formatter
    if log_dir_path is not None:
    if log_queue is not None:
    if is_str_log:

    # ltc2874.py
    def dir_param_read
    def dir_param_write

    # sensor_data.py
    if create_empty and not last:
    def get_equip_on_minutes
    def get_equip_mode_period
    def dump_data

    # notify_slack.py
    def info
    def error_img
    def error_with_image

    # webapp_event.py
    if event_type == EVENT_TYPE.CONTROL:
    elif event_type == EVENT_TYPE.SCHEDULE:

    # webapp_log.py
    elif level == APP_LOG_LEVEL.WARN:

    # flask_util.py
    def remote_host
    def auth_user

[html]
directory = tests/evidence/coverage
