.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.card,
.card-deck {
  height: 100% !important;
}

.outdoor_unit {
  background-image: url(../public/wall.png);
  background-position: bottom 5px right 5px;
  background-repeat: no-repeat;
  background-size: 200px;
}
