/* @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

body {
    margin: 0;
    font-family:
        "BIZ UDPGothic",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.digit {
    font-family: "Roboto", "Inconsolata", monospace !important;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

.sensor-value {
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
}

.sensor-number {
    text-align: right;
    min-width: 4.5em;
}

.sensor-unit {
    margin-left: 0.25rem;
    min-width: 2.5em;
    text-align: left;
    font-size: 0.8em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.progress-label-container {
    position: relative;
}

.progress-label {
    position: absolute;
    right: 5%;
    top: 0%;
}
